@page "/outstandingorders"
@page "/admin"


@attribute [Authorize]
@inject IViewOutstandingOrdersUseCase viewOutstandingOrdersUseCase

<h3>Outstanding Orders</h3>
<br />

<OrderListComponent Orders="_orders"></OrderListComponent>
@code {
    private IEnumerable<Order> _orders;

    protected override void OnInitialized() {
        _orders = viewOutstandingOrdersUseCase.Execute();
    }
}
