@inherits LayoutComponentBase

<PageTitle>eShop.Web</PageTitle>

<div class="page">


    <main>
        <TopNavBar></TopNavBar>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
